{% extends "layout.html" %}
{% block description %}About{% endblock %}
{% block title %}About{% endblock %}
{% block content %}
<div class="content about">
  <p><span class="prompt">[<a href="/">martin@nil</a> ~]</span> cat /usr/share/doc/martin-1.1.0/README</p>
  <p>Description</p>
  <p>-----------</p>
  <br>
  <p>I work as a software engineer at Red Hat for the Product Security team.</p>
  <p>Previously, I was a security engineer and a technical writer, also at Red Hat.</p>
  <br>
  <p>Points of Contact</p>
  <p>-----------------</p>
  <br>
  <p>* Email: martin {at} nil {dot} bz</p>
  <p>* GitHub: <a href="https://github.com/mprpic">https://github.com/mprpic</a></p>
  <p>* GPG key: <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x9BFB5C9FBB6E1F54">BB6E1F54</a></p>
</div>
{% endblock %}
