{% extends "layout.html" %}
{% block description %}Personal projects{% endblock %}
{% block title %}Personal Projects{% endblock %}
{% block content %}
<pre class="content">
<span class="prompt">[<a href="/">martin@nil</a> projects]</span> cat projects.txt
A list of random things I'm currently involved in:

* <a href="https://github.com/RedHatProductSecurity/cvelib" target="_blank" rel="noopener noreferrer">cvelib</a>: Python's click is quite enjoyable for quickly putting together quick CLI tools.

* Spec work:
  - <a href="https://github.com/package-url/purl-spec" target="_blank" rel="noopener noreferrer">purl</a>: a good attempt at identifying components across multiple language ecosystems.
  - <a href="https://github.com/oasis-tcs/csaf" target="_blank" rel="noopener noreferrer">csaf</a>: a rather enterprisey spec for representing security advisories
  - <a href="https://github.com/CVEProject/cve-schema/" target="_blank" rel="noopener noreferrer">cve-schema</a>: vulnerability metadata schema.

* The world of software composition analysis, SBOMs, and dependency analysis. So much complexity, so many unknowns!
</pre>
{% endblock %}
