{% extends "layout.html" %}
{% block description %}Photo albums{% endblock %}
{% block title %}Photos{% endblock %}
{% block content %}
<pre>
<span class="prompt">[martin@nil photos]</span> ls -1t | sed "s/^/  /"
  <a href="/photos/mala_fatra_Jan2017/gallery.html">Malá Fatra, Slovakia (Jan 2017)</a>
  <a href="/photos/vysoke-tatry_Aug2016/gallery.html">Vysoké Tatry, Slovakia (Aug 2016)</a>
  <a href="/photos/norway_Jun2016/gallery.html">Norway (Jun 2016)</a>
  <a href="/photos/mala_fatra_Dec2015/gallery.html">Malá Fatra, Slovakia (Dec 2015)</a>
  <a href="/photos/paklenica_Oct2015/gallery.html">Paklenica, Croatia (Oct 2015)</a>
  <a href="/photos/dachstein_Aug2015/gallery.html">Dachstein, Austria (Aug 2015)</a>
  <a href="/photos/salzkammergut_Aug2015/gallery.html">Salzkammergut, Austria (Aug 2015)</a>
  <a href="/photos/adrspach_May2015/gallery.html">Adršpach, Czech Republic (May 2015)</a>
  <a href="/photos/hohe-wand_Oct2014/gallery.html">Hohe Wand, Austria (Oct 2014)</a>
  <a href="/photos/haidsteig_Oct2014/gallery.html">Haidsteig, Austria (Oct 2014)</a>
  <a href="/photos/alpenvereinssteig_May2014/gallery.html">Alpenvereinssteig, Austria (May 2014)</a>
</pre>
{% endblock %}
