{% extends "layout.html" %}
{% block description %}The official Martin user manual...{% endblock %}
{% block title %}About{% endblock %}
{% block content %}
<pre class="content about">
<span class="prompt">[martin@nil ~]</span>cat /usr/share/doc/martin-1.1.0/README
Description
-----------

I work as a software engineer at Red Hat for the Product Security team.
Previously, I was a security engineer and a technical writer, also at Red Hat.

Points of Contact
-----------------

* Email: martin {at} nil {dot} bz
* GitHub: <a href="https://github.com/mprpic">https://github.com/mprpic</a>
* GPG key: <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x9BFB5C9FBB6E1F54">BB6E1F54</a>
</pre>
{% endblock %}
