{% extends "layout.html" %}
{% block description %}Photo albums{% endblock %}
{% block title %}Photos{% endblock %}
{% block content %}
<pre class="content">
<span class="prompt">[martin@nil photos]</span> ls -1t | sed "s/^/  /"
  <a href="/photos/mala_fatra_Jan2017/">Malá Fatra, Slovakia (Jan 2017)</a>
  <a href="/photos/vysoke-tatry_Aug2016/">Vysoké Tatry, Slovakia (Aug 2016)</a>
  <a href="/photos/norway_Jun2016/">Norway (Jun 2016)</a>
  <a href="/photos/mala_fatra_Dec2015/">Malá Fatra, Slovakia (Dec 2015)</a>
  <a href="/photos/paklenica_Oct2015/">Paklenica, Croatia (Oct 2015)</a>
  <a href="/photos/dachstein_Aug2015/">Dachstein, Austria (Aug 2015)</a>
  <a href="/photos/salzkammergut_Aug2015/">Salzkammergut, Austria (Aug 2015)</a>
  <a href="/photos/adrspach_May2015/">Adršpach, Czech Republic (May 2015)</a>
  <a href="/photos/hohe-wand_Oct2014/">Hohe Wand, Austria (Oct 2014)</a>
  <a href="/photos/haidsteig_Oct2014/">Haidsteig, Austria (Oct 2014)</a>
  <a href="/photos/alpenvereinssteig_May2014/">Alpenvereinssteig, Austria (May 2014)</a>
</pre>
{% endblock %}
