{% extends "layout.html" %}
{% block description %}Personal projects{% endblock %}
{% block title %}Personal Projects{% endblock %}
{% block content %}
<pre class="content">
<span class="prompt">[martin@nil projects]</span> cat projects.txt
This is a list of currently-maintained things that amuse me in my free time:

* <a href="https://github.com/mprpic/advisory-parser" target="_blank" rel="noopener noreferrer">advisory-parser</a>: a library to parse security advisories

* <a href="https://github.com/mprpic/httpie-gssapi" target="_blank" rel="noopener noreferrer">httpie-gssapi</a>: a Kerberos authentication plug-in for <a href="https://httpie.org/" target="_blank" rel="noopener noreferrer">HTTPie</a>

* <a href="https://github.com/mprpic/simple-gallery">simple-galery</a>: generate a single-page image gallery (no deps required)

* This lame site, duh.
</pre>
{% endblock %}
