# Default options follow
daemon=300                              # check every 300 seconds
syslog=yes                              # log update msgs to syslog
mail-failure=root                       # mail failed update msgs to root
pid=/run/ddclient/ddclient.pid          # record PID in file
ssl=yes                                 # use ssl-support

# Site config for NameCheap (namecheap.com)
# See also: https://www.namecheap.com/support/knowledgebase/article.aspx/583/11/how-do-i-configure-ddclient
use=web, web=dynamicdns.park-your-domain.com/getip
protocol=namecheap, \
server=dynamicdns.park-your-domain.com, \
login=nil.bz, \
password={{ dynamic_dns_password }} \
@
