{% extends "layout.html" %}
{% block description %}The official Martin user manual...{% endblock %}
{% block title %}About{% endblock %}
{% block content %}
<pre>
<span class="prompt">[martin@nil ~]</span>cat /usr/share/doc/martin-1.1.0/README
Description
-----------

Hi, Martin here. I work as a security engineer at Red Hat for the Product
Security team. Previously, I was a technical writer also at Red Hat.

Interests
---------

Security! Linux! Python!

Points of contact
-----------------

* Email: martin {at} nil {dot} bz
* GitHub: <a href="https://github.com/mprpic">https://github.com/mprpic</a>
* Twitter: <a href="https://twitter.com/martin_prpic">https://twitter.com/martin_prpic</a>
* GPG key: <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x9BFB5C9FBB6E1F54">BB6E1F54</a>
* LinkedIn: <a href="https://cz.linkedin.com/in/martinprpic">https://cz.linkedin.com/in/martinprpic</a>
* IRC: mprpic on irc.freenode.net (#fedora-security)
</pre>
{% endblock %}
