{% extends "layout.html" %}
{% block title %}Photos{% endblock %}
{% block content %}
<pre>
<span class="prompt">[martin@nil photos]</span> ls -1t | sed "s/^/  /"
  <a href="/photos/mala_fatra_Dec2015">Mala Fatra (Dec 2015)</a>
  <a href="/photos/paklenica_Oct2015">Paklenica (Oct 2015)</a>
  <a href="/photos/dachstein_Aug2015">Dachstein (Aug 2015)</a>
  <a href="/photos/salzkammergut_Aug2015">Salzkammergut (Aug 2015)</a>
  <a href="/photos/adrspach_May2015">Adrspach (May 2015)</a>
  <a href="/photos/hohe-wand_Oct2014">Hohe Wand (Oct 2014)</a>
  <a href="/photos/haidsteig_Oct2014">Haidsteig (Oct 2014)</a>
  <a href="/photos/alpenvereinssteig_May2014">Alpenvereinssteig (May 2014)</a>
</pre>
{% endblock %}
